div{
    width: 40%;
    margin: auto;
    border: 1px solid chocolate;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn{
    background-color: chocolate;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    transition: .8s;
}
.btn:hover{
    background-color: white;
    color: chocolate;
    border: 1px solid chocolate;
}

p{
    border: 1px solid chocolate;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
}